<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>649186343893-gmbf7c166e4udphndlpukpnfs16r9hm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649186343893-gmbf7c166e4udphndlpukpnfs16r9hm4</string>
	<key>API_KEY</key>
	<string>AIzaSyDZPiL5r6XfYKUnPjcSfPDVWYJJn-vPlTo</string>
	<key>GCM_SENDER_ID</key>
	<string>649186343893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hartley.devmountain.FirebaseRestaurantList</string>
	<key>PROJECT_ID</key>
	<string>restaurant-list-fd8f8</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-list-fd8f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:649186343893:ios:5fc0713ab6d777b3</string>
	<key>DATABASE_URL</key>
	<string>https://restaurant-list-fd8f8.firebaseio.com</string>
</dict>
</plist>